



	<!--end一行-->
	<div class="footer">
		<ul class="w_1200 footer">
			<li><span class="f_share"><a href="#####"><img class="share_a" src="__ROOT__/static/images/qr.png"></a></span>
			<span class="word">扫一扫<br>关注官方微信公众号</span>
		</li>
		<li><a href="index.html">首页</a>    <span class="spliter">|</span>    <a href="companyinfo.html">公司简介</a>    <span class="spliter">|</span>    <a href="service.html">服务项目</a>    <span class="spliter">|</span>    <a href="sucessecase.html?page=1">成功案例</a>   <span class="spliter">|</span>    <a href="companynew.html?page=1.html">企业新闻</a>    <span class="spliter">|</span>    <a href="advertise.html">企业招聘</a>     <span class="spliter">|</span><a href="us.html">联系我们</a></li>
		<li>&nbsp;  </li>
		<li>版权所有：桂林市xx服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;地址：{$msg[0]['address']}</li>
		<li>邮编：{$msg[0]['mail']}  电话：{$msg[0]['tell']}</li>
	</ul>
</div>

<div class="pop ">
<div class="ntpop">
	<div class="title">家庭保洁</div>
	<div class="content">
		<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</div>
	</div>
</div>
<!--end文件底-->
<script type="text/javascript" src="__JS__/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.2.js"></script>
<script type="text/javascript" src="__JS__/global.js"></script>
<!--返回顶部-->
<a style="display: none" href="javascript:;" class="top" title="回到顶端" id="top"></a>
<script src="js/top.js"></script>
<!--end返回顶部-->
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>
DD_belatedPNG.fix('img,.black,.ac_arrow,.acfter_c');
</script>
<![endif]-->

<script>
	$('.pop').on('click',function(e){
		//console.log(e);
		//console.log(e.target);
		//console.log(this);
		if(e.target==this){
			//console.log("fire!");
			this.style.display = "none";
		}
	});
	var $details = $('.detail');
	$('.detail').on('click',function(){
		var index = $details.index(this);
		var title;
		switch(index){
			case 0:
				title = "家庭保洁";
				break;
			case 1:
				title = "维修服务";
				break;
			case 2:
				title = "高级管家";
				break;
		}
		$('.pop .title').text(title);
		$('.pop').show();
	})

</script>
</body>
</html>