<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>桂林xxxx公司</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
	</head>
	<body style="background:#fff;">
		<div class="header">
			<div class="header w_1200">
				<div class="logo"><a href="首页.html"><img src="__ROOT__/static/images/logo.png" alt="桂林xxxx公司"></a>
				<div class="word"><span>桂林xxxx公司</span><br>
			GUI xx WU YE GONG SI</div>
		</div>
		<!--end标志-->
		<ul class="h_tel cf2"><li><img src="__ROOT__/static/images/hotline.png"><p class="eng_b ">咨询服务热线：{$msg[0]['tell']}</p></li></ul>
	</div>
</div>
<!--end头文件-->
<!-- nav -->
<div class="tnav" id="slideNav">
	<div class="tnav tnav02 w_1200">
		<ul class="tnavlist">
			<li ><a href="index.html" class="dt">首页</a></li>
			<li>
				<a href="companyinfo.html" class="dt">公司简介</a>
			</li>
			<li class="current_nav">
				<a href="service.html" class="dt">服务项目</a>
			</li>
			<li><a href="sucessecase.html?page=1" class="dt">成功案例</a></li>
			<li><a href="companynew.html?page=1" class="dt">企业新闻</a></li>
			<li><a href="advertise.html" class="dt">企业招聘</a></li>
			<li><a href="us.html" class="dt">联系我们</a></li>
		</ul>
		<i class="tavline slideline" id="slideNavLine"></i>
	</div>
</div>
<!-- end nav -->

